.navigation
    &.-mobile
        background-color: transparentize($sun-yellow, .1)
        display: none
        height: 100%
        left: 0
        position: fixed 
        top: 0
        width: 100%
        &.-active
            display: block
            z-index: 15
        >ul 
            align-items: center
            @extend .flex
            flex-flow: column wrap
            justify-content: center
            text-align: center
            height: inherit 
            >li 
                &:not(:last-child)
                    border-bottom: 1px transparentize(black, .9) solid
                color: $greyish-brown        
                +rem('font-size', 14px)
                padding: 15px
                width: 100%
                +mqh(414px, max)
                    padding: 10px 15px
                &:hover
                    color: black

    >ul 
        width: 100%
        >li 
            color: black 
            +rem(('font-size' : 16px))
            font-weight: 300
            &.-active,
            &:hover
                color: $sun-yellow
                font-weight: 700