.navigation
    >ul 
        width: 100%
        >li 
            color: black 
            +rem(('font-size' : 16px))
            font-weight: 300
            &.-active,
            &:hover
                color: $sun-yellow
                font-weight: 700