body,
html 
    font-family: 'Roboto', sans-serif
    &.pg-interna
        section 
            background-color: transparent
            z-index: 2
            &.banner
                margin-bottom: -65px
                z-index: 1