.header
    &:not(.-sticky)
        animation: header 1000ms forwards
    background-color: white
    flex: 0 0 auto
    height: 50px
    +shadow(0,0,60px,-4px,black)
    left: 0
    position: absolute 
    top: -80px
    width: 100%
    z-index: 2
    &.-sticky
        left: 0
        position: fixed 
        top: -300px
        +transition(500ms)
        z-index: 10
        width: 100%
        &.-stuck
            top: 0
    .container
        align-items: flex-start 
        @extend .flex
        flex-flow: row wrap 
        justify-content: space-between
        .logo
            flex: 0 0 auto
            &-content
                background-position: center 0
                background-repeat: no-repeat
                background-size: auto 72px
                display: block 
                opacity: 1
                text-align: center
                top: 5px
                height: 70px
                width: 100px
                img,svg
                    display: inline-block 
                    height: auto
                    width: 100%                
        .navigation
            flex: 1
            padding-left: 70px  
            +mq(768px, max)
                padding-left: 15px
            >ul 
                align-items: center
                @extend .flex
                flex-flow: row wrap 
                justify-content: space-between
                +mq(767px, max)
                    justify-content: flex-end
                >li 
                    +rem(('line-height' : 50px, 'font-size' : 14px))
                    font-weight: 100
                    padding: 0 8px
                    +mq(768px, max)
                        +rem(('font-size' : 10px))
                    &:not(:last-child)
                        +mq(767px, max)
                            display: none
                    &:first-child
                        padding-left: 0
                    &:last-child
                        display: none
                        padding-right: 0
                        +mq(767px, max)
                            display: inline-block
                            padding: 5px 0